<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LCK 치어풀 서비스</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>

<!-- Navigation -->
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">
        <a href='/' method='GET'>
        LCK 치어풀 서비스
        </a>
      </li>
      <!-- <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li> -->
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/register" method="GET">회원가입</a></li>
      <li><a class="button">로그인</a></li>
    </ul>
  </div>
</div>
<!-- /Navigation -->

<br>

<div class="row">

  <div class="medium-7 large-6 columns">
    <h1>응원댓글을 남겨주세요</h1>
    <p class="subheader">여러분이 응원하는 팀에게 응원의 메시지를 남겨주세요. 작성한 응원메시지는 실시간으로 저장됩니다. 다른 팬들의 응원글도 실시간 알림으로 확인할 수 있어요.</p>
  </div>

  <div class="show-for-large large-3 columns">
    <img src="/static/LCK로고.png" alt="LCK로고">
  </div>

</div>

<div class="row column">
  <hr>
</div>

<div class="row column">
  <p class="lead">LCK 프랜차이즈 팀</p>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
  <div class="column">
    <div class="callout">
      <p>담원 기아</p>
      <p><img src="/static/담원기아.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>농심</p>
      <p><img src="/static/농심.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>디알엑스</p>
      <p><img src="/static/디알엑스.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>젠지</p>
      <p><img src="/static/젠지.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>티원</p>
      <p><img src="/static/티원.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>한화생명</p>
      <p><img src="/static/한화생명.png" width="400" height="370" alt=""></p>
      <!-- <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p> -->
    </div>
  </div>

</div>

<footer>
  <div class="row expanded callout secondary">

    <!-- <div class="small-6 large-3 columns">
      <p class="lead">Offices</p>
      <ul class="menu vertical">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Solar Systems</p>
      <ul class="menu vertical">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div> -->

    <!-- <div class="small-6 large-3 columns">
      <p class="lead">Contact</p>
      <ul class="menu vertical">
        <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Offices</p>
      <ul class="menu vertical">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>

  </div> -->
  <div class="row">

    <!-- <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div> -->

    <div class="medium-6 columns">
      <ul class="menu float-right">
        <li class="menu-text">Developed by freedman</li>
      </ul>
    </div>
  </div>

</footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
